*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat', sans-serif;
}

img{
    width: 100%;
}

/* general */

main{
    display: flex;
    height: 100vh;
    color: white;
}

.container{
    background-color: #141922;
    width: 100%;
}

.content-box{
    margin-bottom: 91px;
}

footer{
    background-color: #282828;
    height: 91px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
}

a{
    text-decoration: none;
    color: white;
}

p{
    color: #787A7F;
}

ul{
    list-style: none;
}

/* main - top-bar */

.top-bar{
    background-color: rgba(0, 0, 0, .4);
    height: 90px;
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 90;
}

.btn{
    border: 1px solid white;
    border-radius: 10rem;
    padding: .5rem 1.5rem;
}

.btn-upgrade{
    position: absolute;
    top: 25px;
    right: 20px;
    white-space: nowrap;
    font-size: 12px;
}

.btn-upgrade:hover{
    transform: scale(1.2);
}

/* main - aside */

.sidebar{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex: 0 0 auto;
    background-color: black;
    width: 50px;
    height: calc(100vh - 91px);
    z-index: 99;
}

/* upper */

.logo-big{
    padding: 2rem;
    width: 100%;
    display: none;
}

.sidebar ul.menu-list .name-list{
    display: none;
}

.logo-small,
.img-list {
    padding: .4em;
}

.img-list:hover{
    color:#ffffff;
}

/* center */

.playlist{
    display: flex;
    gap: 1.1em;
    padding: .5em 1em;
    font-weight: bold;
    color: #787A7F;
    display: none; 
}

.playlist .list li:hover{
    color: #ffffff;
    cursor: pointer;
}

.add-play:hover{
    transform: scale(1.1);
}

.add-play a{
    color: #787A7F;
}

.add-play a:hover{
    color: #ffffff;
}

.add-play .fa-plus{
    background-color: #787A7F;
    color: #141922;
    font-size: 20px;
    padding: .5em;
}

/* downer */

.downer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.download a{
    display: flex;
    text-align: center;
    color: #787A7F;
    font-size: small;
}

.download:hover a{
    transform: scale(1.1);
}

.download img{
    width: 20px;
}

.user-box{
    padding: .4em;
}

.user-box:hover{
    transform: scale(1.05);
}

.user-box a{
    display: flex;
    align-items: center;
    padding: .2em;
}

.user-box img{
    background-color: #979797;
    border-radius: 50%;
    padding: .1em;
    aspect-ratio: 1 / 1;
}

.appload, 
.username{
    padding: 0 1em;
    font-weight: 900;
    display: none;
}

/* main - content */

.content{
    padding: 7rem 2rem;
    height: 100vh;
    overflow: auto;
}

.content .recently{
    padding: 3rem 0 2rem;
}

.content ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 2rem;
}

.content li{
    justify-content: space-between;
}

.content li a{
    color: #787A7F;
}

.content li a:hover{
    color: #ffffff;
}

.green{
    border-radius: 50px;
    height: 5px;
    width: 40px;
    background-color: #99E32D;
    margin: auto;
}

.box-card{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.card{
    flex: 1 1 calc((100% / 2) - 2rem);
    text-align: center;
}

.card-img{
    position: relative;
    aspect-ratio: 1 / 1;
}

.card1{
    background-image: url(../img/metal_lifting.jpg);
    background-size: cover;
}

.card2{
    background-image: url(../img/stranger.jpeg);
    background-size: cover;
}

.card3{
    background-image: url(../img/aquietplace.jpeg);
    background-size: cover;
}

.card4{
    background-image: url(../img/split.jpeg);
    background-size: cover;
}

.card5{
    background-image: url(../img/cure.jpeg);
    background-size: cover;
}

.card6{
    background-image: url(../img/sinister.jpeg);
    background-size: cover;
}

.card7{
    background-image: url(../img/radar.jpeg);
    background-size: cover;
}

.card8{
    background-image: url(../img/mixdaily.jpeg);
    background-size: cover;
}

.card9{
    background-image: url(../img/youg.jpeg);
    background-size: cover;
    border-radius: 10rem;
    overflow: hidden;
    object-fit: cover;
}

.card10{
    background-image: url(../img/einaudi.jpeg);
    background-size: cover;
    border-radius: 10rem;
    overflow: hidden;
    object-fit: cover;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 4rem;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
}

.card .icon:hover{
    opacity: 1;
}

.circle-card .icon:hover{
    opacity: 1;
}

.card h2{
    padding: .5rem;
}

.for-u,
.popolar{
    padding: 1rem 0 1rem;
}

.content p{
    padding-bottom: 2rem;
}

/* footer */

.foot-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0.5em;
}

.foot-box i{
    color: #ffffff;
}

.foot-left{
    display: flex;
    align-items: center;
}

.foot-left img{
    max-width: 50px;
}

.foot-left-text{
    padding: 0 .8em;
}

h3{
    color: #ffffff;
}


.foot-left-text a{
    color: #787A7F;
}

.foot-left-text a:hover{
    color: #ffffff;
    text-decoration: underline;
}

.foot-left-icon{
    display: flex;
    flex-direction: column;
}

.foot-left-icon i{
    color: #787A7F;
    padding: 0 .5em;
}

.foot-left-icon i:hover{
    color: #ffffff;
    transform: scale(1.2);
}

.foot-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
}

.foot-center i{
    padding: .5em;
    font-size: 1.2em;
}

.foot-center i:hover{
    transform: scale(1.2);
}

.timeline-box{
    display: flex;
}

.time{
    color: #ffffff;
    padding: 0 .5em;
    font-size: xx-small;
}

.timeline{
    display: flex;
    border-radius: 50px;
    height: 5px;
    width: 200px;
    background-color:#787A7F;
    margin: auto;
}

.timeline-green{
    display: flex;
    position: relative;
    border-radius: 50px;
    height: 5px;
    width: 70px;
    background-color: #979797;
}

.timeline-green:hover{
    background-color: #99E32D;
}

.timeline-point{
    display: flex;
    position: absolute;
    top: -5px;
    left: 65px;
    border-radius: 100px;
    height: 15px;
    width: 15px;
    background-color: #787A7F;
    opacity: 0;
}

.timeline-point:hover{
    background-color: #787A7F;
    opacity: 1;
}

.volume.timeline{
    display: flex;
    border-radius: 50px;
    height: 5px;
    width: 150px;
    background-color:#787A7F;
}

.volume.timeline-green{
    display: flex;
    position: relative;
    border-radius: 50px;
    height: 5px;
    width: 40px;
    background-color: #979797;
}

.volume.timeline-green:hover{
    background-color: #99E32D;
}

.volume.timeline-point{
    display: flex;
    position: absolute;
    top: -5px;
    left: 35px;
    border-radius: 100px;
    height: 15px;
    width: 15px;
    background-color: #787A7F;
    opacity: 0;
}

.timeline-point:hover{
    background-color: #787A7F;
    opacity: 1;
}

.foot-right{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.foot-right i{
    padding: .5em;
    font-size: 1em;
}

.foot-right i:hover{
    transform: scale(1.2);
}


/* media query */

/* width 552

width 639

width 878

width 1440 */

@media (min-width:553px) {
    .sidebar{
        width: 230px;
        font-size: small;
    }

    .logo-small{
        display: none;
    }

    .logo-big{
        display: block;
    }

    .logo-big:hover{
        transform: scale(1.2);
    }

    .sidebar ul.menu-list .name-list{
        display: inline-block;
    }

    .menu-list{
        padding: 0 1em;
    }

    .menu-list a{
        display: flex;
        align-items: center;
    }

    .img-list,
    .img-user{
        width: 35px
    }

    .downer{
        justify-content: flex-start;
        align-items: flex-start;
    }

    .download{
        padding: .5em 2.5em;
        border-bottom: 2px solid #787A7F;
    }

    .download:hover .appload{
        color: #ffffff;
    }

    .appload,
    .username{
        display: block;
    }

    .name-list{
        font-weight: bold;
        color: #787A7F;
    }
    
    a:hover .name-list{
        color: #ffffff;
    }

    .playlist{
        display: flex;
        flex-direction: column;
    }

}

@media (min-width:640px) {

    .foot-left-icon{
        display: flex;
        flex-direction: row;
    }
}

@media (min-width:880px) {
    .card{
        flex: 1 1 calc((100% / 4) - 2rem);
    }
}

@media (min-width:1440px) {
    .card{
        flex: 1 1 calc((100% / 6) - 2rem);
    }
}
