*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat', sans-serif;
}

img{
    width: 100%;
}

/* general */

main{
    display: flex;
    color: white;
}

.container{
    background-color: #141922;
    width: 100%;
}

.content-box{
    margin-bottom: 91px;
}

footer{
    background-color: #282828;
    height: 91px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
}

a{
    text-decoration: none;
    color: white;
}

p{
    color: #787A7F;
}

ul{
    list-style: none;
}

/* main - top-bar */

.top-bar{
    background-color: rgba(0, 0, 0, .4);
    height: 90px;
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 90;
}

.btn{
    border: 1px solid white;
    border-radius: 10rem;
    padding: .5rem 1.5rem;
}

.btn-upgrade{
    position: absolute;
    top: 25px;
    right: 20px;
    white-space: nowrap;
    font-size: 12px;
}

.btn-upgrade:hover{
    transform: scale(1.2);
}

/* main - aside */

.sidebar{
    flex: 0 0 auto;
    background-color: black;
    width: 50px;
    z-index: 99;
}

.logo-big{
    display: none;
}

.sidebar ul.menu-list .name-list{
    display: none;
}

.logo-small, 
.img-list {
    padding: .4em;
}

.img-list:hover{
    color:#ffffff;
}

/* main - content */

.content{
    padding: 7rem 2rem;
    height: 100vh;
    overflow: auto;
}

.content .recently{
    padding: 3rem 0 2rem;
}

.content ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 2rem;
}

.content li{
    justify-content: space-between;
}

.content li a{
    color: #787A7F;
}

.content li a:hover{
    color: #ffffff;
}

.green{
    border-radius: 50px;
    height: 5px;
    width: 40px;
    background-color: #99E32D;
    margin: auto;
}

.box-card{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.card{
    flex: 1 1 calc((100% / 2) - 2rem);
    text-align: center;
}

.card-img{
    position: relative;
    aspect-ratio: 1 / 1;
}

.icon{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 6rem;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
}

.icon:hover{
    opacity: 1;
}

.card1{
    background-image: url(../img/metal_lifting.jpg);
    background-size: cover;
}

.card2{
    background-image: url(../img/stranger.jpeg);
    background-size: cover;
}

.card3{
    background-image: url(../img/aquietplace.jpeg);
    background-size: cover;
}

.card4{
    background-image: url(../img/split.jpeg);
    background-size: cover;
}

.card5{
    background-image: url(../img/cure.jpeg);
    background-size: cover;
}

.card6{
    background-image: url(../img/sinister.jpeg);
    background-size: cover;
}

.card7{
    background-image: url(../img/radar.jpeg);
    background-size: cover;
}

.card8{
    background-image: url(../img/mixdaily.jpeg);
    background-size: cover;
}

.card9{
    background-image: url(../img/youg.jpeg);
    background-size: cover;
    border-radius: 10rem;
    overflow: hidden;
    object-fit: cover;
}

.card10{
    background-image: url(../img/einaudi.jpeg);
    background-size: cover;
    border-radius: 10rem;
    overflow: hidden;
    object-fit: cover;
}

.card h2{
    padding: .5rem;
}

.for-u,
.popolar{
    padding: 1rem 0 1rem;
}

.content p{
    padding-bottom: 2rem;
}

/* footer */

.foot-box{
    display: flex;
    justify-content: space-between;
}

.foot-box i{
    color: #ffffff;
}

.foot-left{
    display: flex;
    padding: 1em;
}

.foot-left img{
    width: 60px;
}

.foot-left-text{
    padding: 0 1em;
}

h3{
    color: #ffffff;
}


.foot-left-text a{
    color: #787A7F;
}

.foot-left-text a:hover{
    color: #ffffff;
    text-decoration: underline;
}

.foot-left-icon{
    display: flex;
    flex-direction: column;
}

.foot-left-icon i{
    color: #787A7F;
    padding: 0 .5em;
}

.foot-left-icon i:hover{
    color: #ffffff;
    transform: scale(1.2);
}

.timeline{
    display: flex;
    justify-content: space-between;
}

.foot-center i{
    padding: .5em;
    font-size: 1.5em;
}

.foot-center i:hover{
    transform: scale(1.2);
}

.timeline{
    display: flex;
    border-radius: 50px;
    height: 5px;
    width: 200px;
    background-color:#787A7F;
    margin: auto;
}

.timeline-green{
    display: flex;
    position: relative;
    border-radius: 50px;
    height: 5px;
    width: 70px;
    background-color: #979797;
}

.timeline-green:hover{
    background-color: #99E32D;
}

.timeline-point{
    display: flex;
    position: absolute;
    top: -5px;
    left: 65px;
    border-radius: 100px;
    height: 15px;
    width: 15px;
    background-color: #787A7F;
    opacity: 0;
}

.timeline-point:hover{
    background-color: #787A7F;
    opacity: 1;
}

.volume.timeline{
    display: flex;
    border-radius: 50px;
    height: 5px;
    width: 150px;
    background-color:#787A7F;
    margin: auto;
}

.volume.timeline-green{
    display: flex;
    position: relative;
    border-radius: 50px;
    height: 5px;
    width: 40px;
    background-color: #979797;
}

.volume.timeline-green:hover{
    background-color: #99E32D;
}

.volume.timeline-point{
    display: flex;
    position: absolute;
    top: -5px;
    left: 35px;
    border-radius: 100px;
    height: 15px;
    width: 15px;
    background-color: #787A7F;
    opacity: 0;
}

.timeline-point:hover{
    background-color: #787A7F;
    opacity: 1;
}

.foot-right i{
    padding: .5em;
    font-size: 1em;
}

.foot-right i:hover{
    transform: scale(1.2);
}


/* media query */

/* width 552

width 639

width 878

width 1440 */

@media (min-width:552px) {
    .sidebar{
        width: 230px;
    }

    .logo-small{
        display: none;
    }

    .logo-big{
        display: block;
        padding: 2rem;
    }

    .sidebar ul.menu-list .name-list{
        display: inline-block;
    }


}

@media (min-width:639px) {

    .foot-left-icon{
        display: flex;
        flex-direction: row;
    }
}

@media (min-width:878px) {
    .card{
        flex: 1 1 calc((100% / 4) - 2rem);
    }
}

@media (min-width:1440px) {
    .card{
        flex: 1 1 calc((100% / 6) - 2rem);
    }
}
